DOCKER_STACKS_DIRECTORY="{{ restic_backup__docker_stacks_directory }}"
RESTIC_REPOSITORY="{{ restic_backup__repository }}"
RESTIC_PASSWORD="{{ restic_backup__password }}"

HEALTHCHECKS_URL="{{ restic_backup__healthchecks_url }}"

RESTIC_KEEP_LAST="{{ restic_backup__keep_last }}"
LOG_FILES_DIRECTORY="{{ restic_backup__log_files_directory }}"
LOG_FILES_KEEP="{{ restic_backup__log_files_keep }}"

RESTIC_PROGRESS_FPS="{{ restic_backup__progress_fps }}"