STACKS_DIR="{{ restic_backup__stacks_dir }}"
RESTIC_REPOSITORY="{{ restic_backup__repository_path }}"
RESTIC_PASSWORD="{{ restic_backup__repository_password }}"

HEALTHCHECK_URL="{{ restic_backup__healthcheck_url }}"

RESTIC_RETENTION_KEEP_LAST="{{ restic_backup__retention_keep_last }}"
LOGS_DIR="{{ restic_backup__logs_dir }}"
LOGS_KEEP="{{ restic_backup__logs_keep }}"

RESTIC_PROGRESS_FPS="{{ restic_backup__progress_fps }}"